

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background:url(https://source.unsplash.com/HHpRh6rNQMo/1920x1080) center center fixed;
    background-size: cover;
}
.cowculator{
    width: 350px;
    height: 500px;
    background-color: rgb(84, 84, 84);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.display {
    height: 65px;
    width: 300px;
    background-color: buttonface;
    border-radius: 5px;
    display: flex;
    align-items: center;
}

.screen {
    width: 250px;
    height: 60px;
    border: 1px solid black;
}

#delete {
    width: 50px;
    height: 60px;
}


.buttons {
    border: 3px solid black;
    height: 350px;
    width: 300px;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.top-bar{
    height: 62.5px;
    width: 270px;
    border: 1px solid black;
    display: flex;
}

.top-bar > div{
    flex: 1;
    border: 1px solid blue;

}

.button-organizer{
    height: 250px;
    width: 270px;
    border: 1px solid black;
    display: flex;
    justify-content: space-between;
}

.numbers {
    width: 200px;
    height: 250px;
    border: solid 1px red;
}

.side-bar {
    width:67.5px;
    height: 250px;
    border: solid 1px white;
    display: flex;
    flex-direction: column;
}

.side-bar > div{
    flex:1;
    border: 1px solid blue;
}
